{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": { "syntax": "typescript", "decorators": true },
    "target": "es2020",
    "keepClassNames": true
  },
  "module": { "type": "commonjs" }
}
